
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs
Frontend/wwwroot/uploads/
SearchEngine/wwwroot/
Frontend/appsettings.Development.json
SearchEngine/appsettings.Development.json
MaintenanceCLI/appsettings.json
Dashboard/appsettings.Development.json
